@import 'fonts.scss';

body {
    margin: 0;
    padding: 0;
    font-family: $sfpro;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sideindented {
    margin: 0 125px;
}

.sectionheader {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.05em;
    color: #DA2077;
    margin-bottom: 15px;
}

.sectiontitle {
    font-family: 'Montserrat';
    font-size: 2.1em;
    font-weight: 700;
    margin-bottom: 40px;
}

.sectiontext {
    color: #3B3B3B;
    font-size: 1.25em;
    font-family: $sfprotextlight;
    max-width: 510px ;
    letter-spacing: -1px;
    line-height: 1.69;
}

.bigbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD2179;
    font-family: $sfprodisplayregular;
    font-weight: 200;
    border-radius: 58px;
    font-size: 1.3em;
    border: none;
    color: white;
    box-shadow: 0 6px 20px #c5c5c5;
    font-style: normal;
    text-decoration: none;

    &:hover {
        transform: scaleY(0.8px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.1s ease-in-out;
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}

.highlight_brand {
    color: #DA2077;
    font-weight: 800;
}
